<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <title>Work Plan</title>
</head>
<body>
    <h2 class="heading">Work Plan</h2>
    <div id="viewdetails">
        <%=title%>
        <br>
        Details: <%=description%>
        <br>
        Due Date: <%=duedate%>
    </div>
    
</body>
</html>